---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Fathan - Backend Engineer</title>
	</head>
	<body class="bg-neutral-50">
		<Navbar />
		<main class="max-w-2xl mx-auto px-6 py-6 space-y-8 opacity-0 animate-fadeIn">
			<slot />
		</main>
	</body>
</html>
